* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: rgb(66, 66, 66);
}

button {
  cursor: pointer;
}

h1 {
  font-size: 35px;
  letter-spacing: 2px;
}

.scores {
  display: flex;
  align-items: center;
  gap: 20px;
}

.scores p {
  background: green;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-size: 30px;
}

.scores .comp {
  background: blue;
}

.scores span {
  font-size: 35px;
}

.options button {
  border: none;
  margin: 30px;
}

.options button.active {
  transform: scale(1.2);
}

.options button img {
  width: 200xp;
  height: 240px;
  pointer-events: none;
}

.choices {
  font-size: 30px;
  display: none;
}

.choices.active {
  display: block;
}

.result-text {
  font-size: 40px;

  width: 50%;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.reset-game {
  display: none;
  background: rgb(49, 49, 49);
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.reset-game.active {
  display: block;
}

.reset-game:hover {
  background: rgba(49, 49, 49, 0.876);
}
