/* Global Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --blue:  #702A9F;
    --blueHover:  #9549c7;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}


/* Nav Styling */

.logo {
    width: 6.5em;
}


nav {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 2em;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    width: 55%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    padding: .2em;
    color: var(--blue);
}


a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background-color: var(--blue);
    height: .15em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

/* Burger Styling */

.burger {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.line {
    width: 3em;
    height: .3em;
    background: var(--blue);
    margin: .7em;
    border-radius: 20px;
    transition: .3s ease-in-out;
}



@media only screen and (max-width: 1000px) {
    .burger {
        display: block;
        transition: .3s ease-in-out;
    }

    .burger.active .line:first-child {
        transform: translateY(-300px);
    }

    .burger.active .line:nth-child(2) {
        transform: rotate(-405deg) translateY(8px);
    }

    .burger.active .line:nth-child(3) {
        transform: rotate(-320deg) translateY(-10px);
    }



    ul {
        position: absolute;
        right: 0;
        top: 8vh;
        background-color: var(--blue);
        height: 92vh;
        flex-direction: column;
        text-align: center;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    ul.active {
        transform: translate(0%);
    }

    a {
        color: whitesmoke;
        font-size: 2.5rem;
        letter-spacing: 2px;
    }
}


@media only screen and (max-width: 760px) {
    ul {
        width: 100%;
    }
}